@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Over+the+Rainbow&display=swap');
@import url(./root.css);

* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
    scroll-behavior: smooth !important;
}

.ff_outfit {
    font-family: "Outfit", sans-serif;
}

.ff_rainbow {
    font-family: "Over the Rainbow", cursive;
}

:root {
    --fs-4sm: 14px;
    --fs-6sm: 16px;
    --fs-8sm: 18.92px;
    --fs-2md: 21.62px;
    --fs-3md: 24px;
    --fs-4md: 32px;
    --fs-5md: 35.2px;
    --fs-5lg: 52px;
    --fs-2xl: 62.4px;
    --fs-4xl: 64px;
    --fs-xxl: 80px;
}

.fs_14 {
    font-size: var(--fs-4sm) !important;
}

.fs_16 {
    font-size: var(--fs-6sm) !important;
}

.fs_18 {
    font-size: var(--fs-8sm);
}

.fs_21 {
    font-size: var(--fs-2md);
}

.fs_24 {
    font-size: var(--fs-3md) !important;
}

.fs_32 {
    font-size: var(--fs-4md);
}

.fs_35 {
    font-size: var(--fs-5md);
}

.fs_52 {
    font-size: var(--fs-5lg);
}

.fs_62 {
    font-size: var(--fs-2xl);
}

.fs_64 {
    font-size: var(--fs-4xl);
}

.fs_80 {
    font-size: var(--fs-xxl);
}

.navline::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    left: 0;
    right: 0;
    bottom: -3px;
    transition: all 300ms linear;
}

.navline:hover::after {
    width: 100%;
}

.z_7 {
    z-index: 7 !important;
}

.z_index_8 {
    z-index: 8 !important;
}

.header_bg_img {
    background-image: url("/assets/images/png/header-bg-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.bg_nav {
    background-color: #ffffff05;
}

.mw_146 {
    max-width: 146px;
}

.gap_36 {
    gap: 36px;
}

.py_13 {
    padding-top: 13px;
    padding-bottom: 13.4px;
}

/*-----------------------------header-------------------------- */
.mw_180 {
    max-width: 180px;
}

.mw_130 {
    max-width: 130px;
}

.lh_111 {
    line-height: 111%;
}

.lh_150 {
    line-height: 150%;
}

.br_4 {
    border-radius: 4px;
}

.cursor_pointer {
    cursor: pointer !important;
}

.arrow_img {
    left: -29%;
    bottom: 32%;
}

.pb_header {
    padding-bottom: 30px !important;
}

.header_img {
    transition: all 300ms linear !important;
}

.header_img:hover {
    transform: scale(0.9) !important;
}

/*--------------------creating-a-greener-----------------------*/

.text_black {
    color: #0D0D0D !important;
}

.mb_2 {
    margin-bottom: -2px;
}

.mw_357 {
    max-width: 357px;
}

.lh_100 {
    line-height: 100%;
}

.lh_130 {
    line-height: 130%;
}

.lh_120 {
    line-height: 120%;
}

.creating_left_img {
    top: 15%;
    left: -1%;
}

.mw_275 {
    max-width: 275px;
}

.black_circle {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    color: #F8B762;
    background-color: #15231F;
    cursor: pointer;
    transition: all 300ms linear;
}

.black_circle:hover {
    background-color: #F8B762;
    color: #15231F !important;
}

.top_1 {
    top: -1%;
}

.pt_100 {
    padding-top: 100px;
}

/*------------------------recycling---------------------------*/
.bg_blue {
    background-color: #0073B1;
}

#recycling .accordion-button::after {
    background-image: url("/assets/images/png/plus-icon-img.png") !important;
}

#recycling .accordion-button {
    background: transparent !important;
    border-radius: 10px !important;
}

#recycling .accordion-body {
    padding-top: 0px !important;
    padding-left: 80px !important;
}

#recycling .accordion-button:not(.collapsed) {
    box-shadow: none !important;
    padding-bottom: 12px !important;
}

#recycling .accordion-button:not(.collapsed):after {
    background-image: url("/assets/images/png/recycle-subtract-icon.png") !important;
}

#recycling .accordion-button:after {
    background-image: url("/assets/images/png/plus-icon-img.png") !important;
}

#recycling .accordion-button:focus {
    box-shadow: none !important;
}

#recycling .accordion-item {
    border: 1px solid #A4A4A4 !important;
    margin-bottom: 16px !important;
    background-color: transparent !important;
    border-radius: 10px !important;
}

.lh_143 {
    line-height: 143%;
}

.opacity_80 {
    opacity: 90%;
}

.gap_19 {
    gap: 19px;
}

.mw_213 {
    max-width: 213px;
}

.recycle_ellips {
    bottom: -15%;
    right: -19%;
}

/*----------------------Frequently-questons-----------------------*/
#Frequently .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

#Frequently .accordion-button {
    padding: 16px !important;
    background: transparent !important;
    border-radius: 10px !important;
}

#Frequently .accordion-body {
    padding-top: 0px !important;
}

#Frequently .accordion-button:not(.collapsed) {
    box-shadow: none !important;
    padding-bottom: 12px !important;
}

#Frequently .accordion-button:focus {
    box-shadow: none !important;
}

#Frequently .accordion-item {
    border: 1px solid #C5C5C5 !important;
    margin-bottom: 16px !important;
    background-color: transparent !important;
    border-radius: 10px !important;
}

.bottom_1 {
    bottom: -1%;
}

.top_13 {
    top: -13%;
}

/*-------------------------Newsletter------------------------ */
.py_newsletter {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}

.top_11 {
    top: -11%;
}

.bottom_4 {
    bottom: -4%;
}

.newsletter_input {
    border: 1px solid #C5C5C5;
    max-width: 503px;
    border-radius: 10px;
}

.input {
    outline: none !important;
    border: none;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
}

::placeholder {
    color: white;
    opacity: 80%;
}

.join_btn {
    border-radius: 10px;
    Padding: 18px 32px 18px 32px;
    outline: none;
    border: transparent;
    color: #0073B1;
    transition: .3s linear;
}

.join_btn:hover {
    transform: scale(0.9) !important;
}

/*--------------------------footer-----------------------------*/
.bg_black {
    background-color: #0d0d0d;
}

.footer_text {
    transition: all 300ms linear !important;
}

.footer_text:hover {
    opacity: 1 !important;
}

.footer_icon {
    transition: all 300ms linear !important;
}

.footer_icon:hover {
    transform: scale(1.1) !important;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #ffffff !important;
}

.footer_line::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 0.5px;
}

/*---------------------------back-to-top------------------------*/
.backToTopBtn {
    display: none;
    bottom: 10px;
    right: 10px;
    z-index: 9 !important;
    border: 4px solid #0073B1;
    width: 50px;
    height: 50px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 5px 16px #0073B1;
}

/*----------------------------preloader--------------------- */
.z_index_10 {
    z-index: 10 !important;
}

.mw_70 {
    max-width: 70px !important;
}

.pointer_event_none {
    pointer-events: none !important;
}

@media (max-width:991.98px) {

    .overflow_hidden {
        overflow: hidden !important;
    }

    .mobile_view {
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #0073B1;
        transition: 300ms linear;
    }

    .line,
    .line1,
    .line2 {
        width: 35px;
        background-color: #ffffff;
        min-height: 3px;
        border-radius: 15px;
        transition: 300ms linear;
    }

    .cross .line {
        transform: rotate(50deg) translate(17px, 13px);
    }

    .cross .line1 {
        transform: translateX(-50%);
        opacity: 0;
    }

    .cross .line2 {
        transform: rotate(-50deg) translateY(-50%);
    }

}

@media (min-width:1400px) {
    .arrow_img {
        left: -25%;
        bottom: 32%;
    }

    .pb_header {
        padding-bottom: 45px !important;
    }
}

@media (min-width:1200px) {

    .pb_140 {
        padding-bottom: 140px;
    }

    .accordion-item {
        margin-bottom: 24px !important;
    }
}

@media (min-width:992px) {
    .header_bg_img {
        background-size: 100% 100%;
    }

    .mw_957 {
        max-width: 957px !important;
    }

    .py_newsletter {
        padding-top: 300px !important;
        padding-bottom: 300px !important;
    }
}

@media (min-width:1700px) {
    .pb_header {
        padding-bottom: 110px !important;
    }
}

@media (min-width:576px) and (max-width:768px) {
    :root {
        --fs-5lg: 40px !important;
        --fs-4xl: 60px !important;
        --fs-xxl: 60px !important;
    }
}

@media (min-width:768px) and (max-width:992px) {
    :root {
        --fs-5lg: 39px !important;
    }

    .py_newsletter {
        padding-top: 200px !important;
        padding-bottom: 200px !important;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    :root {
        --fs-5lg: 39px !important;
        --fs-4xl: 60px !important;
        --fs-xxl: 60px !important;
    }

    .pb_header {
        padding-bottom: 40px !important;
    }
}

@media (min-width:1200px) and (max-width:1400px) {
    :root {
        --fs-5lg: 45px !important;
    }
}

@media (max-width:576px) {
    :root {
        --fs-6sm: 14px !important;
        --fs-3md: 18px !important;
        --fs-4xl: 41px !important;
        --fs-5lg: 33px !important;
        --fs-xxl: 43px !important;
    }

    .mw_180 {
        max-width: 160px;
    }

    .mb_38 {
        margin-bottom: 25px;
    }

    .pt_100 {
        padding-top: 20px;
    }

    .recycle_ellips {
        bottom: -31%;
        right: -19%;
    }

    .top_1 {
        top: 0 !important;
    }

    .pb_header {
        padding-bottom: 10px !important;
    }
}